<mat-form-field 
  class="date-picker-field"
  [appearance]="'outline'"
  [hideRequiredMarker]="false">
  
  <mat-label>{{ label }}</mat-label>
  
  <input 
    matInput 
    [matDatepicker]="picker"
    [placeholder]="placeholder"
    [required]="required"
    [disabled]="disabled"
    [min]="minDate"
    [max]="maxDate"
    [value]="value"
    (dateChange)="onDateChange($event.value)"
    (blur)="onBlur()"
    readonly>
  
  <mat-datepicker-toggle 
    matSuffix 
    [for]="picker"
    [disabled]="disabled">
  </mat-datepicker-toggle>
  
  <mat-datepicker #picker></mat-datepicker>
  
  <mat-error *ngIf="isError">
    {{ errorMessage || 'Este campo es requerido' }}
  </mat-error>
  
  <mat-error *ngIf="isInvalidAge">
    La fecha no puede ser futura
  </mat-error>
  
</mat-form-field> 