<div class="search-bar">
  
  <div class="search-bar__input-container">
    <button 
      class="search-bar__search-btn"
      type="button"
      [disabled]="disabled || loading"
      (click)="onSearch()"
      aria-label="Buscar">
      <mat-icon>search</mat-icon>
    </button>
    
    <input 
      class="search-bar__input"
      type="text"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [value]="value"
      (input)="onInput($event)"
      (blur)="onBlur()"
      (keyup.enter)="onSearch()">
    
    <button 
      *ngIf="value"
      class="search-bar__clear-btn"
      type="button"
      (click)="clearSearch()"
      aria-label="Limpiar búsqueda">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <mat-form-field 
    *ngIf="showFilters && filters.length > 0"
    class="search-bar__filter"
    [appearance]="'outline'">
    
    <mat-label>Filtro</mat-label>
    
    <mat-select 
      [value]="selectedFilter"
      (selectionChange)="onFilterChange($event.value)"
      [disabled]="disabled">
      
      <mat-option 
        *ngFor="let filter of filters"
        [value]="filter.value">
        {{ filter.label }}
      </mat-option>
      
    </mat-select>
    
  </mat-form-field>
  
</div> 